
<%- include ("header") -%>

<h2>
    about us/...
</h2>
<h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, nisi possimus officia dolor provident ex. Esse facere obcaecati rem, incidunt suscipit commodi blanditiis aliquam doloribus, architecto, doloremque tempore quos nam.
</h2>

<%-include ("footer")-%>